{% extends "base.html" %}
{% block acerca %}
	<div class="card text-center">
		<div class="card-header">
			Acerca
		</div>
		<div class="card-body">
			<h5 class="card-title">JAGUARETE KAA S.A.</h5>
			<p class="card-text">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
			<p class="card-text">"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
			<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
		</div>
	</div>
{% endblock %}