{% extends "base.html" %}

{% block contacto %} 
<div class="card text-center">
  <div class="card-header">
    Conacto
  </div>
  <div class="card-body">
    <h5 class="card-title">Para Contacto</h5>
    <p class="card-text">Comunicate a los Telefono</p>
    <p class="card-text">+1 1234567</p>
    <p class="card-text">+1 8901234.</p>
    <p class="card-text">O por correo electronico</p>
    <p class="card-text">admin@jaguarete.com</p>
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
  </div>
</div>
{% endblock %} 