{% extends "base.html" %}
{% load static %}
{% block nav %}
	{% include "nav.html" %}
	<div class="row">
		{% for i in data %}
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><a href="{% url 'producto' i.id %}">{{ i.titulo }}</a></h5>
					<p class="card-text">{{ i.descripcion }}</p>
					<img src="{{ i.imagen.url }}" alt="JAGUARETE KAA S.A.">
					<p class="card-text">{{ i.precio }} $</p>  
					<a href="{% url 'producto' i.id %}" class="btn btn-primary">Agregar Al Carrito</a>
				</div>
			</div>
			
		</div>
		{% endfor %};
	</div>
	<div class="row">
		{% for i in data2 %}
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><a href="{% url 'producto' i.id %}">{{ i.titulo }}</a></h5>
					<p class="card-text">{{ i.descripcion }}</p>
					<img src="{{ i.imagen.url }}" alt="JAGUARETE KAA S.A.">
					<p class="card-text">{{ i.precio }} $</p>  
					<a href="{% url 'producto' i.id %}" class="btn btn-primary">Agregar Al Carrito</a>
				</div>
			</div>
		</div>
		{% endfor %};

{% endblock%}