{% extends "base.html" %}

{% block titulo %} {{ titulo }} - {{ searched }}{% endblock %}
ok
{% block content %}  
{% include "nav.html" %}    
<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <form class="d-flex" method="POST" action="{% url 'search' %}" >
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search" name='searched'>
      <button class="btn btn-primary" type="submit">Busqueda</button>
    </form>
  </li>
</ul>
  {% if searched %}
    <p class="text-center"></p>
    {% for i in busqueda %}
    <div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><a href="{% url 'producto' i.id %}">{{ i.titulo }}</a></h5>
					<p class="card-text">{{ i.descripcion }}</p>
					<p class="card-text">{{ i.precio }} $</p>
					<a href="{% url 'producto' i.id %}" class="btn btn-primary">Agregar Al Carrito</a>
				</div>
			</div>
		</div>
    {% endfor %}
  {% else %}
  <p class="text-center">{{ no_encontrado }}</p>
  {% endif %}

{% endblock %}