{% extends "base.html" %}

{% block titulo %} {{ titulo }}{% endblock %}
ok
{% block content %}  
{% include "nav.html" %}    
  {% if searched %}
    <p class="text-center"></p>
    {% for i in busqueda %}
    <div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><a href="{% url 'producto' i.id %}">{{ i.titulo }}</a></h5>
					<p class="card-text">{{ i.descripcion }}</p>
          <img src="{{ i.imagen.url }}" alt="{{ i.titulo }}">
					<p class="card-text">{{ i.precio }} $</p>
					<a href="{% url 'producto' i.id %}" class="btn btn-primary">Agregar Al Carrito</a>
				</div>
			</div>
		</div>
    {% endfor %}
  {% else %}
  <p class="text-center">{{ no_encontrado }}</p>
  {% endif %}

{% endblock %}